/* Remove the default gap between all modules */
.modules-right .module,
.modules-left .module,
.modules-center .module {
  margin: 0;
}

/* Global reset */
* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: #ebdbb2;
}

window#waybar {
  background: #1d2021;
}

/* Workspace Buttons */
#workspaces button label {
  color: #ebdbb2;
  padding: 0 10px;
}
#workspaces button.active label {
  color: #1d2021;
}
#workspaces button.active {
  background: #d65d0e;
}

/* Shared padding for primary modules */
#clock,
#battery,
#pulseaudio,
#tray,
#language,
#weather {
  padding: 0 10px;
}

/* Language */
#language {
  color: #d79921;
  border-bottom: 5px solid #d79921;
}

/* Weather */
#custom-weather {
  color: #98971a;
  border-bottom: 5px solid #98971a;
}

/* PulseAudio */
#pulseaudio {
  color: #689d6a;
  border-bottom: 5px solid #689d6a;
}
#pulseaudio.muted {
  padding: 0 20px;
  color: #cc241d;
  border-bottom: 5px solid #cc241d;
}

/* Network */
#custom-network {
  padding: 0 10px;
  color: #83a598;
  border-bottom: 5px solid #83a598;
}
#custom-network:hover {
  background: rgba(131, 165, 152, 0.2);
}

/* Battery */
#battery {
  color: #458588;
  border-bottom: 5px solid #458588;
}

/* Clock */
#clock {
  color: #b16286;
  border-bottom: 5px solid #b16286;
}

/* Tray */
#tray {
  color: #d65d0e;
  border-bottom: 5px solid #d65d0e;
}

/* Add a little space after every icon */
.module .icon {
  margin-right: 0.3em;
}
